<h1>About</h1>

<div class="about_paragraph">
  <p>
    In 2016 I completed my first marathon. The pain I felt in my left Achilles lasted a week, but that price was small compared to what I learned. It takes guts to accomplish a goal. It's having to endure the pain and discomfort of running a mile that's just a bit tougher than the last and doing it 26 times. I approached that ordeal like I approach my professional life. You can't produce results from your comfort zone. You need to take risks, take on some pain, keep your spirits high and still find a way to carry on even if the outcome is uncertain. I was way past my 20s when I did this and if I had to choose one important lesson to take away from this experience, it would be...
  </p>

  <p>
    It's never too late to try something new.
  </p>

  <p>
    I am a former litigation data discovery analyst and recent CareerFoundry graduate. I'm combining past experience in SQL and software development with new skills to pursue a path in web development.
  </p>
  <p>
    Early on in my career, I learned SQL on top of regular duties and built scripts to automate manual processes and enhance workflow. The result was faster, efficient and error-free delivery of projects that consistently met client expectations.
  </p>
  <p>
    I went on to build tools in VB.net, C#, and ASP.net for team members to help speed up project completion.
  </p>
  <p>
    I was even nominated for an industry-wide development award for creating a web app that automated an expensive, labor-intensive and common practice in litigation technology.
  </p>
  <p>
    Moving on to web development, I studied responsive and interactive design, research-driven approaches to problem-solving, Ruby on Rails, and Test-Driven Development in order to build a fully-functional e-commerce web application from scratch that authenticated users, authorized administrators and processed credit card payments.
  </p>
  <p>
    My desire to learn new technologies will never stop. I bring real-world experience along with a toolbelt of new skills to become a proficient web developer. I can also run a mile in 6 minutes.
  </p>
</div>

