<h1>EpicEdward</h1>
<h2>e-Commerce Website</h2>

<div>
  <%= link_to "Featured Items", static_pages_landing_page_path %>
</div>
<div>
  <%= link_to "Sequoia", product_path(17) %>
</div>

<div class="index_image">
  <%= image_tag("index/indexImage.jpg", class: "img-responsive") %>
</div>
