<!-- http://localhost:3000/static_pages/thank_you -->
<!-- access this page after sending an email in contact view -->






<!-- 20170921 ED 5.3 Sending Emails -->
<!-- this page automatically rendered after associated action is run in the controller -->
<div class="panel panel-default thank-you">
	<div class="panel-body">
		<p>Thank you. We have received your message and will respond as soon as possible.</p>
	</div>  <!-- panel-body -->
</div> <!-- panel -->










