<!-- 20170921 ED 5.3 Sending Emails -->
<!-- called in StaticPagesController thank_you action -->
<!-- when method UserMailer.contact_form is invoked  -->
<!-- I created this file. It will automatically be called since filename matches method name -->

<table>
  <tbody>
    <tr>
      <td>
        <p>You have received a new contact form message. The contents of the message are:</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= @message %></p>
      </td>
    </tr>
  </tbody>
</table>