<!-- 20170929 ED 5.4 authentication -->
<!-- $ rails generate scaffold user first_name last_name -->
<!-- eg http://localhost:3000/users/2/edit -->

<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
