/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/***********************************************************************************************
GLOBAL
***********************************************************************************************/

h1 {
	font-family: Futura, Helvetica, Arial, sans-serif;
	color: orange;
	text-align: center;
}

*{
	box-sizing: border-box;
}

html, body {	
	margin: 0; //sticky-footer
}


/***********************************************************************************************
NAVBAR
***********************************************************************************************/

/*ED 20170915 just for 5.1, homeButton class no longer needed
.homeButton img {
	max-height: 100%;
}
*/

.navbar-collapse .nav li a:hover {
	color: white;
}

.navbar-collapse a {
	transition: color 800ms;
	-webkit-transition: color 800ms;
}




/***********************************************************************************************
OTHERS
***********************************************************************************************/


.anchor{
	/*height of navbar*/
	/*makes sure tops of pages are not covered by navbar*/
	
	padding-top: 50px;
}


 /*20171005 ED 5.5 Authorization*/
 /*for some reason alert and notice classes contain a bottom margin*/
.alert, .notice{
	margin: 0px;
}



/***********************************************************************************************
FOOTER
***********************************************************************************************/

/*sticky-footer*/
.site-footer {
	background: #101010;	
	color: #9d9d9d;

	bottom: 0;
	position: fixed;
	width: 100%;
	height: 50px;
}

/*sticky-footer*/
.footer-anchor {
	height:50px;
}