.order-styling th {
	border: 1px solid black;
}
.order-styling td {
	border: 1px solid black;
}
.order-styling th {
	padding: 5px;
}
.order-styling table {
	margin: 10px;
}
.order-styling .orders-text {
	color: gray;
	font-style: italic;
}