// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////////////////////////////////////////////////////////////////////////////////////////
// GLOBAL
////////////////////////////////////////////////////////////////////////////////////////////////

h1 {
	font-family: Futura, Helvetica, Arial, sans-serif;
	color: orange;
	text-align: center;
}

*{
	margin: 0; //sticky-footer
	box-sizing: border-box;
}

html, body {
	height: 100%; //sticky-footer
}

////////////////////////////////////////////////////////////////////////////////////////////////
// NAVBAR
////////////////////////////////////////////////////////////////////////////////////////////////

.homeButton img {
	max-height: 100%;
}

.navbar-collapse .nav li a:hover {
	color: yellow;
}

.navbar-collapse a {
	transition: color 800ms;
	-webkit-transition: color 800ms;
}

.anchor{
	padding-top: 50px;
}



////////////////////////////////////////////////////////////////////////////////////////////////
// INDEX page
////////////////////////////////////////////////////////////////////////////////////////////////

.index_image img{
	border: 3px solid red;
}



////////////////////////////////////////////////////////////////////////////////////////////////
// ABOUT page
////////////////////////////////////////////////////////////////////////////////////////////////

.about_paragraph p {
	font-style: italic;
}



////////////////////////////////////////////////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////////////////////////////////////////////////

//sticky-footer
.page-wrap {
	min-height: 100%;
	margin-bottom: -50px;
}

//sticky-footer
.page-wrap:after {
	content: "";
	display: block;
}

//sticky-footer
.site-footer, .page-wrap:after{
	height: 50px;
}

.site-footer {
	background: #101010;	
	color: #9d9d9d;
}

footer div{
	float: left;
	margin: 4px 4px;
}