<p id="notice"><%= notice %></p>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>

<h1>Products</h1>

<div class="apple_pagination">
  <%= will_paginate @products %>
</div><%# replaced original table with erb %>

<div class="row">
  
  <% cache @products do %>
    <%= render @products %>
  <% end %>

</div>

<br>