<!-- http://localhost:3000/products/ -->



<p id="notice"><%= notice %></p>

<h1>Products</h1>

<!-- 20171022 5.9 Validation & Pagination -->
<!-- add the pagination links -->
<!-- this same line can be added to the bottom as well if you want links to show up at the bottom -->
<div class="apple_pagination">
	<%= will_paginate @products %>
</div><%# replaced original table with erb %>

<div class="row">
	<!-- automatically calls partial _product.html.erb -->
	<%= render @products %>
</div>


<br>

<%= link_to 'New Product', new_product_path %>

