<!-- http://localhost:3000/products/new -->



<h1>New Product</h1>

<!-- ED 20170918 search form -->
<!-- added button_name: for bootstrap, change text on button between new and edit -->
<%= render 'form', product: @product, button_name: 'Create Product' %>

<%= link_to 'Back', products_path %>

